/* Estilos generales */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    

}

iframe {
    width: 100%;
    border: none;
}

main {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Estilos para el contenedor del header */
/* Estilos para el header */
header {
    width: 100%;
    background-color: #33B5E5;
    padding: 10px;
    display: grid;
    grid-template-areas: "logo-search  user-navbar"
                         "navbar navbar"
                         "carousel carousel"; /* Agregamos otra fila para el carousel */
    grid-template-columns: 3fr 1fr;
    gap: 10px;
    align-items: center; /* Centrar verticalmente los elementos dentro del header */
  }

.logo-search{
   display: flex;
    align-items: center; 
}
.logo-search:hover{
  display: flex;
   align-items: center; 
   
}
.search{
justify-content: end;
margin-left: 30px;
}
  /* Estilos para el logo */
  .logo {
    grid-area: logo;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  /* Estilos para el user-navbar */
  .user-navbar {
    grid-area: user-navbar;
  }
  
  .user-navbar nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .user-navbar nav li {
    margin-left: 10px;
  }
  
  .user-navbar nav a {
    border-radius: 5px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
  }
  
  .user-navbar nav a:hover {
    color: #33B5E5;
    background-color: #FFFFFF;
    border-radius: 10px;
  }
  
  /* Estilos para el navbar */
  .navbar {
    grid-area: navbar;
    background-color: #33B5E5;
    margin: 0;
    padding: 0;
    margin-top: 10px; /* Espacio entre el primer navbar y el segundo */
  }
  
  .navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  .navbar li {
    margin-right: 10px;
  }
  
  .navbar a {
    border-radius: 5px;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
  }
  
  .navbar a:hover {
    color: #33B5E5;
    background-color: #FFFFFF;
    border-radius: 10px;
  }
  
  /* Estilos para el carrusel */
  .carousel {
    grid-area: carousel; /* Añadimos la propiedad grid-area para ocupar una sola columna */
    display: flex;
    justify-content: center; /* Centramos horizontalmente */
    max-width: 300px; /* Ajusta el tamaño máximo del carrusel */
    margin: 0 auto; /* Centramos el carrusel en la página */
  }
  
  /* Estilos para el carrusel */

  .carousel .carousel-inner .carousel-item {
    display: flex; /* Aseguramos que las imágenes se ajusten correctamente */
    justify-content: center; /* Centramos horizontalmente las imágenes */
  }

.carousel .carousel-inner .carousel-item img {
    max-width: 100%; /* Aseguramos que las imágenes no excedan el tamaño del carrusel */
    height: auto; /* Ajustamos la altura automáticamente para mantener la relación de aspecto */
    object-fit: contain; /* Ajustamos el contenido de las imágenes dentro de su contenedor */
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    /* Estilos adicionales para los botones de control (opcional) */
    background-color: rgba(0, 0, 0, 0.5);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  
  /* Estilos para el carrusel */




/* Estilos para el footer */
footer {
    background-color: #f2f2f2;
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media,
.site-links,
.help,
.account {
    flex-basis: 25%;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.more-info-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ccc;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}



/* Estilos para el contenido principal de la seccion productos */

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px; /* Margen general para separar del borde de la página */
}



.promotions-section .promotions {
    display: flex; /* Flexbox: Se establece el contenedor de promociones como flexible */
    justify-content: center; /* Flexbox: Alineación horizontal de los elementos */
    align-items: flex-start; /* Flexbox: Alineación vertical de los elementos */
    flex-wrap: wrap; /* Flexbox: Permitir el ajuste de los elementos en múltiples líneas */
    gap: 20px;
}

.promotion-item {
    width: 30%; /* Ancho de cada elemento de promoción */
    text-align: center;
}

.promotion-item img {
    width: 100%;
    height: auto;
}

.image-grid {
    display: flex; /* Flexbox: Se establece el contenedor de imágenes como flexible */
    justify-content: center; /* Flexbox: Alineación horizontal de los elementos */
    align-items: flex-start; /* Flexbox: Alineación vertical de los elementos */
    flex-wrap: wrap; /* Flexbox: Permitir el ajuste de los elementos en múltiples líneas */
    gap: 20px;
}

.image-grid img {
    width: 30%; /* Ancho de cada imagen */
    height: auto;
}

.advertisement-section {
    width: 20%; /* Ancho del contenedor de publicidad */
    text-align: center;
}

.advertisement-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.advertisement-section .advertisements {
    display: flex; /* Flexbox: Se establece el contenedor de publicidades como flexible */
    flex-direction: column; /* Flexbox: Alineación vertical de los elementos */
    align-items: center; /* Flexbox: Alineación horizontal de los elementos */
}

.advertisement-section .advertisements img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
}








/* Estilos generales de la seccion contacto*/
/* Estilos para el contenido principal de la seccion del html  */
.contact-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-ask {
    margin-bottom: 20px;
}

.contact-section {
    margin-bottom: 20px;
}

.form-contact {
    display: flex;
    flex-direction: column;
}

.form-contact-item {
    margin-bottom: 10px;
}

.form-contact-item label {
    display: block;
}

button[type="submit"] {
    margin-top: 10px;
}




/* Estilos para el contenido principal de la seccion productos */
.main-productos {
    display: grid;
    grid-template-areas: "category product";
    grid-template-columns: 1fr 4fr;
    gap: 20px;
    margin: 20px;
  }
  

  
  .product-section h2 {
    margin-bottom: 10px;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .product-item {
    position: relative;
    overflow: hidden;
  }
  
  .product-item img {
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .product-item:hover .overlay {
    opacity: 1;
  }
  
  .overlay h3, .overlay h2, .overlay h1 {
    color: #fff;
    margin: 0;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination a {
    margin-right: 10px;
    color: #333;
    text-decoration: none;
  }
  
  .pagination a.active {
    font-weight: bold;
    color: #000;
  
 } 
 /*
.navbar-category{
  grid-column: 1 / -1;
  background-color: aqua;
} 
*/


.product-grid {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: calc(25% - 20px);
  margin: 10px;
  position: relative;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  transition: transform 0.3s ease;
}

.product-item:hover img {
  transform: scale(1.1);
}

.product-item .card-body {
  padding: 10px;
}

.product-item .card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-item .card-text {
  font-size: 24px;
  font-weight: bold;
}

.product-item .installments {
  color: green;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
}

/* Estilos para el botón "Agregar al carrito" */
.add-to-cart-btn {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.product-item:hover .add-to-cart-btn {
  display: block;
}

.product-item .img-container {
  position: relative;
}

.product-item:hover .card-body {
  z-index: 2;
}

@media (max-width: 768px) {
  .product-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .product-item {
    width: 100%;
  }
}






.navbar-nav .dropdown-menu {
  background-color: #007bff;
  border: none;
  border-radius: 0;
  box-shadow: none;
  left: auto !important;
  right: 0;
}

.navbar-nav .dropdown-item {
  color: #fff;
}

.navbar-nav .dropdown-item:hover {
  background-color: #0056b3;
}

.navbar-nav .nav-link {
  color: #007bff;
}

.navbar-nav .nav-link:hover {
  color: #0056b3;
}

.dropdown-menu {
  display: none;
}

.navbar-nav .dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: 0;
}