$color-primary: #f9f9f9; /* Blanco hueso */
$color-secondary: #dcdcdc; /* Gris claro */
/* Colores de acento */
$color-accent: #e74c3c; /* Rojo intenso */


$color-background: #000; /* Fondo negro */
$color-letters:	#FFFFFF;

$animation-duration: 1s;